/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* ====== COMPONENTS ======= */
:root {
  --main-color: #212121;
  --secondary-color: #2196F3;
  --on-background-color: #FFF;
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --secondary-background-color: #2F303A;
  --third-background-color: #F5F4FA;
}

body {
  font-family: var(--main-font-family);
  color: var(--main-color);
  font-size: 14px;
  box-sizing: border-box;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;;
}

.link-active::after {
  content: "";
  color: var(--secondary-color);
  position: absolute;
  display: block;
  width: 57px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
  top: 75px;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====== END GENERAL ======= */
/* ====== HEADER ======= */
.header .container {
  display: flex;
  align-items: center;
 
}

.navigation {
  display: flex;
}

.container {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  padding: 0 15px;
  align-items: center;
}

section {
  margin-bottom: 94px;
}

.navigation-webstudio {
  font-weight: bold;
  font-size: 26px;
  font-family: var(--secondary-font-family);
  margin-right: 93px;
  align-items: center;
  width: 145px;
  height: 31px;
  margin-left: 50px;
}

.navigation-webstudio span {
  color: var(--secondary-color);
}

.navigation-list {
  display: flex;
  align-items: center;
}

.contact-link-item {
  margin-right: 10px;
}

.contact-link-item:hover,
.contact-link-item:focus {
  color: var(--secondary-color);
  fill: var(--secondary-color);
  transition-property: fill, color;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);

}

.navigation-item:not(:last-child) {
   margin-right: 32px;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.header .header-email {
  margin-left: auto;
  margin-right: 50px;
}

.header-tel {
  margin-right: 20px;
}

.header-h1 {
  color: var(--on-background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin: 0 auto;
  padding-top: 100px;
  flex-wrap: wrap;
  max-width: 696px;
  text-align: center;
}

.order {
  width: 200px;
  height: 50px;
  margin-top: 40px;
  color: var(--on-background-color);
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  line-height: 1.875;
  font-weight: 700;
  border-width: 2px;
  letter-spacing: 0.06em;
}

.order:hover {
  background-color: #9eb2e2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  text-align: center;
}

.header-div {
  background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), url(../images/Tlo_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  width: 1600px;
  height: 450px;
  margin: auto auto 50px;
}  

.header-div .container {
  /* margin-top: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* ====== END HEADER ======= */
/* ====== MAIN ======= */
/* ====== SECTION1 ======= */

.section1-item:not(:first-child) {
  margin-left: 30px;
}

.section1-item {
  flex-basis: calc(100% / 4);
}

.section1-rectangle {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1-headerh3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
}

.section1-p {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;  
  letter-spacing: 0.03em;
  color: #757575;

}

.section1 .container {
  height: 100%;
  margin-bottom: 20px;
}

.section1 .container ul {
  display:flex;
  justify-content: space-between;
}
/* ====== END SECTION1 ======= */
/* ====== SECTION2 ======= */

.section2-headerh2,
.section3-headerh2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 30px;
}

.section2 .container {
  height: 100%;
  margin-bottom: 20px;
}

.section2 .container ul {
  display: flex;
  justify-content: space-between;
}

.section2-item {
  position: relative;
  
}

.label {

  position: absolute;
  top: 224px;
  left: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  margin: 0 auto;
  width: 370px;
}

/* ====== END SECTION2 ======= */
/* ====== SECTION3 ======= */

.section3 {
  background-color: var(--third-background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.section3-item {
   line-height: 1.339;
   border: 1px solid grey;
   box-shadow: 1px 3px lightgrey;
   margin-bottom: 20px;
   background-color: var(--on-background-color);
   border-radius: 2%;
}

.section3-headerh4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.section3-p { 
 font-weight: normal;
 font-size: 16px;
 line-height: 1.187;
 text-align: center;
 letter-spacing: 0.03em;
 color: #757575; 
}

.section3 .container {
  height: 100%;
  margin-bottom: 20px;
}

.section3 .container ul {
  display: flex;
  justify-content: space-around; 
}

.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 30px;
}

.social-media-icons-link {
  display: block;
  height: 44px;
  width: 44px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #AFB1B8
}

.social-media-icons-link:hover,
.social-media-icons-link:focus {
  background-color: var(--secondary-color);
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====== END SECTION3 ======= */
/* ====== SECTION4 =========== */

.section4 .container {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%;
}

.section4-h2 {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  padding-bottom: 50px;
}

.section4-list {
  display: flex;
  flex-wrap: wrap;
}

.section4-rectangle {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  
}

.section4-rectangle:hover,
.section4-rectangle:focus {
  border: 1px solid var(--secondary-color);
  fill: var(--secondary-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section4-rectangle-icon:hover {
 fill: var(--secondary-color);
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section4-item {
  flex-basis: calc((100% - 150px) / 6);
}

.section4-item:not(:first-child) {
  margin-left: 30px;
  margin-right: 0;
}

/* ====== END SECTION4 ======= */
/* ====== END MAIN =========== */
/* ====== FOOTER ============= */

.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary-background-color);
}

.footer .container{
  background-color: var(--secondary-background-color);
  color: var(--on-background-color);
  height: 242px;
  padding-top:20px;
  padding-left: 15px;
  width: 1185px;
  display: flex;  
  align-items: center;
  justify-content: flex-start;
}

.footer .container .footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.footer a {
  color: var(--on-background-color);
}

.footer a:hover {
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-webstudio {
 font-family: var(--secondary-font-family);
 font-weight: bold;
 font-size: 26px;
 line-height: 1.192;
 letter-spacing: 0.03em; 
}

.footer-webstudio span {
  color: var(--secondary-color);
}

.footer-address,
.footer-email,
.footer-tel
{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-social-media {
  margin-left: 50px;
}

.footer-h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--on-background-color);
  margin-bottom: 20px;
}

.footer-social-media-icons-item {
  display: block;
  width: 44px;
  height: 44px;
  background-color: var(--on-background-color);
  border-radius: 50%;
  margin-right: 12px;
}

.footer-social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social-media-icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media-icons-icon:hover {
  fill: var(--on-background-color);
}

.footer-social-media-icons-item:hover {
  background-color: var(--secondary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter {
  width: 570px;
  height: 86px;
  margin-top: 12px;
  margin-left: 78px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--on-background-color);
}

.newsletter-content {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.newsletter-email {
  width: 358px;
  height: 46px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: var(--on-background-color);
  outline: none;
  border-radius: 4px;
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter-email:focus {
  border-color: #2196f3;
}

.newsletter-button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  color: var(--on-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 42px;
  margin-left: 10px;
}

.icon-send {
  margin-left: 24px;
}

.newsletter-button:hover {
  background-color: #9eb2e2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ====== END FOOTER ======= */

/* ====== BACKDROP ======= */

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-content: center;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.modal {
  width: 528px;
  height: 581px;
  margin: auto;
  background: var(--on-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.close-button:hover {
  background-color: var(--on-background-color);
  box-shadow: none;
}

.close-button-icon {
  fill: #000000;
  margin: 5px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1), visibility 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.03em;
  justify-content: center;
  margin-top: 40px;
}

.modal-form {
  width: 448px;
  margin: 12px 40px;
  padding: 0;
}

.personal-data {
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 0;
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus-within,
.text-area_input:focus-within {
  border-color: #2196f3;
  color: #2196f3;
}

.icon-person,
.icon-phone,
.icon-email {
  margin-left: 12px;
  margin-right: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus-within>.icon-person,
.input:focus-within>.icon-phone,
.input:focus-within>.icon-email {
  fill: #2196f3;
}

.text-field {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area_input {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-area_text-field {
  width: 417px;
  height: 96px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.policy-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  position: relative;
}

.policy-text::before {
  display: inline-block;
  position: relative;
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  top: 2px;
  left: -3px;
}

.checkbox:checked + .policy-text::before {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background-image: url(../images/accept_sign.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.policy-underline {
  text-decoration: underline;
  color: #2196F3;
}

.form-btn {
  width: 200px;
  height: 50px;
  margin: 30px 164px;
  color: #fff;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-btn:hover {
  background-color: #9eb2e2;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}















/* .backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  padding: 40px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop_form {

  display: flex;
  width: 100%;
  flex-direction: column;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  justify-content: flex-start;
}

.modal-form-policy-text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--main-color);
  border-radius: 2px;
}

.modal-form-policy:checked + .modal-form-policy-text::before {
background-color: var(--secondary-color);
border: 1px solid var(--secondary-color);
background-image: url(../images/accept_sign.svg);
background-repeat: no-repeat;

}

textarea {
  resize: none;
}

input:not([type="checkbox"]),
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  line-height: 1.5;
  padding: 8px;
  background: url(./images/accept_sign.svg) no-repeat scroll 7px 7px;
  padding-left:30px;
}
*/
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
} 
/* ====== END BACKDROP ======= */

/* ========================= */
/* ======= PORTFOLIO ======= */

.services-list {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 56px;
}

.services-list-button:hover,
.services-list-button:focus {
  color: #ffffff;
  background-color: var(--secondary-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 1px 2px rgba(0, 0, 0, 0.08),
   0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: box-shadow, color, background-color;
  transition-duration: 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
  cubic-bezier(0.4, 0, 0.2, 1),
  cubic-bezier(0.4, 0, 0.2, 1);
}

.header .container {
  border-bottom: 1px solid #ECECEC;
}

.card-shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.services-list-button:hover, 
.project-item,
.form-btn,
.policy-underline {
  cursor: pointer; 
}

.services-list-button {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  line-height: 1.625
}

.services-list li:not(:first-child) {
  margin-left: 8px;
}

.services-list-button-text {
  padding: 6px 22px;
}

.project-headerh4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-p {
  font-size: 16px;
  line-height: 1.87;  
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-main .container {
  height: 100%;
}

.portfolio-ltmargin {
  margin-top: 15px;
  margin-left: 24px;
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-main {
  margin-bottom: 20px;
}

.project-item {
  width: 370px;
  height: 404px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  margin-bottom: 30px; 
}

.project-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  transform: translate(0, 100%);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 49px 45px 49px 24px;
}

.project-box:hover .overlay {
  transform: translate(0, 0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ====== END PORTFOLIO ======= */