.contact-link-item {
  margin-right: 10px;

  &:hover,
  &:focus {
    color: var(--secondary-color);
    fill: var(--secondary-color);
    transition-property: fill, color;
    transition-duration: 250ms, 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  }
}

