:root {
  --main-color: #212121;
  --secondary-color: #2196F3;
  --on-background-color: #FFF;
  --main-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --secondary-background-color: #2F303A;
  --third-background-color: #F5F4FA;
  --project-paragraf-color: #757575;
  --card-border-color: #EEE;
}